{ pkgs }: {
  channel = "stable-25.05";
  packages = [ pkgs.bun ];
  idx = {
    extensions = [
      "laravel.vscode-laravel"
      "bmewburn.vscode-intelephense-client"
      "bradlc.vscode-tailwindcss"
    ];
    workspace.onCreate.setup = ''
      /bin/bash -c "$(curl -fsSL https://php.new/install/linux)"
      export PATH="$HOME/.config/herd-lite/bin:$PATH"
      composer setup
    '';
    workspace.onStart.dev = "composer dev";
  };
}
